.form {
  &__input {
    border: 1px solid $color-grey-light-3;
    color: $color-grey-light-3;
    border-radius: 5px;
    padding: 1rem .8rem .8rem 3.5rem;
    &:focus {
      outline: none;
    }
    margin: .4rem;
    font-size: 1.6rem;
    &:focus ~ .form__field, &:active ~ .form__field {
      color: $color-grey-light-4;
    }
    &:focus, &:active {
      outline: transparent;
      border-color: $color-grey-light-4;
      &:invalid {
        color: #ff3b05;
          border-color: #ff3b05;
          &::placeholder {
              color: #ff3b05;
          }
      }
      &:invalid ~ .form__field {
          color: #ff3b05;
      }
    }
  }
  &__group {
    display: flex;
    margin: 1rem 0;
    @include respond(tab-land) {
      flex-direction: column;
    }
  }
  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &__field {
    margin-top: -1.3rem;
    margin-left: 4rem;
    background-color: #fff;
    color: $color-grey-light-3;
    margin-right: auto;
    padding: 0 .8rem;
  }
}

.btn {
  background-image: linear-gradient(125deg,
        $color-primary-dark-1 0%,
        $color-primary-dark-1 20%,
        $color-primary-dark-2 20%,
        $color-primary-dark-2 40%,
        $color-primary-dark-3 40%,
        $color-primary-dark-3 60%,
        #ffca4d 60%,
        #ffca4d 80%,
        #ffd570 80%,
        #ffd570 100%
);
padding: .8rem 2rem;
border-radius: 30px;
font-weight: 600;
font-size: 1rem;
border: none;
color: $color-white;
transition: all .5s;
box-shadow: 0 .8rem 1.6rem rgba(0,0,0,.2);
display: flex;
align-items: center;
&__icon {
    height: 2rem;
    width: 2rem;
    fill: url(#webzey-gradient-light);
    margin-right: 1rem;
}
&--normal {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
}
}
