<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- SEO -->
        <title>Over ons | Heijmenson </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <meta name='description' content='Heijmenson is al meer dan 100 jaar het beste biertje uit de tap. Dit mede door ons speciale brouwproces en onze geheime ingredienten.'>
        <meta name='author' content='Heijmenson N.V.'>
        <meta name='keywords' content='heijmenson,bier,speciaal,speciaalbier,herthogenbosch'>
        <meta itemprop='name' content='Heijmenson | Al meer dan 100 jaar het beste biertje uit de tap.'>
        <meta itemprop='description' content='Heijmenson is al meer dan 100 jaar het beste biertje uit de tap. Dit mede door ons speciale brouwproces en onze geheime ingredienten.'>
        <meta itemprop='image' content='../img/bier-2.jpg'>
        
        <meta name='twitter:card' content='summary'>
        <meta name='twitter:site' content='@heijmenson'>
        <meta name='twitter:title' content='Heijmenson | Al meer dan 100 jaar het beste biertje uit de tap.'>
        <meta name='twitter:description' content='Heijmenson is al meer dan 100 jaar het beste biertje uit de tap. Dit mede door ons speciale brouwproces en onze geheime ingredienten.'>
        <meta name='twitter:creator' content='@heijmenson'>
        <meta name='twitter:image:src' content='../img/bier-2.jpg'>
        
        <meta property='og:title' content='Heijmenson | Al meer dan 100 jaar het beste biertje uit de tap.'>
        <meta property='og:type' content='article'>
        <meta property='og:url' content='https://heijmenson.nl'>
        <meta property='og:description' content='Heijmenson is al meer dan 100 jaar het beste biertje uit de tap. Dit mede door ons speciale brouwproces en onze geheime ingredienten.'>
        <meta property='og:site_name' content='www.heijmenson.nl'><meta property='og:image' content='../img/bier-2.jpg'>
        <meta property='og:image:secure_url' content='../img/bier-2.jpg'>
        <meta property='og:image:width' content='1024'>
        <meta property='og:image:height' content='744'>

        <link rel='shortcut icon' href='../img/logo.png' />
        <link rel='apple-touch-icon' sizes='180x180' href='../img/logo.png'>
        <link rel='mask-icon' href='../img/logo.png' color='#ffffff'>
        
        <meta name='msapplication-TileColor' content='#ffffff'>
        <meta name='msapplication-TileImage' content='../img/logo.png'>
        <meta name='theme-color' content='#ffffff'>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj3V6kjUjuYQh_90Rb0B0jh89_QV_7tF8&callback=initMap">
        </script>
        <script type="application/ld+json">
            { "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Heijmenson",
            "legalName" : "Heijmenson N.V.",
            "url": "https://heijmenson.nl",
            "logo": "https://heijmenson.nl/img/logo.png",
            "foundingDate": "14-1-1996",
            "foundingLocation": "Geldermalsen",
            "description": "Heijmenson is al meer dan 100 jaar het beste biertje uit de tap. Dit mede door ons speciale brouwproces en onze geheime ingredienten.",
            "founder": [
            {
            "@type": "Person",
            "name": "Thijmen van Iterson"
            } ],
            "address": {
            "@type": "PostalAddress",
            "streetAddress": "4191PD Geldermalsen De Iepenwei 8",
            "addressLocality": "Geldermalsen",
            "addressRegion": "Gelderland",
            "postalCode": "4191PD",
            "addressCountry": "NL"
            },
            "contactPoint": {
            "@type": "ContactPoint",
            "contactType": "customer support",
            "telephone": "[+31-0345-570202]",
            "email": "info@heijmenson.nl"
            },
            "sameAs": [ 
            "https://www.instagram.com/heijmenson/",
            "https://www.facebook.com/heijmenson",
            "http://www.twitter.com/heijmenson"
            ]}
        </script>

        <!-- Core -->
        <link href="../css/app.css" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <a href="../index.html">
                <div class="header__logo">
                    <figure class="header__logo-box">
                        <img src="../img/logo.png" alt="" class="header__logo">
                    </figure>
                </div>
            </a>
            
            <div class="header__menu">
                <img @click="changeLanguage" class="header__language-flag" src="../img/svg/netherlands.svg" alt="Flag of the Netherlands">
                <div class="header__item">
                    <a href="./waar-te-koop.html" class="header__link header__hover-link">
                        <h4 class="header__heading header__heading--padding">Waar te koop?</h4>
                    </a>
                    <div class="header__hover-block">
                        <div class="width-14">
                            <h3>Nederland</h3>
                            <div class="flex-1">
                                <a class="flex-50">Makro</a>
                                <a class="flex-50">Albert Heijn</a>
                                <a class="flex-50">Jumbo</a>
                                <a class="flex-50">Sligro</a>
                            </div>
                        </div>
                        <div class="width-15 margin-15">
                            <h3>België</h3>
                            <div class="flex-1">
                                <a class="flex-50">Sligro</a>
                                <a class="flex-50">Makro</a>
                                <a class="flex-50">Carrefour Market</a>
                                <a class="flex-50">Lidl</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__item" v-if="authenticated === false">
                    <a href="./over-ons.html" class="header__link">
                        <h4 class="header__heading">Over ons</h4>
                    </a>
                </div>
                <div class="header__item" v-if="authenticated === false">
                    <a href="./portfolio.html" class="header__link">
                        <h4 class="header__heading">Portfolio</h4>
                    </a>
                </div>
                <div class="header__item header__item--border" v-else>
                    <a href="./contact.html" class="header__link">
                        <h4 class="header__heading">Contact</h4>
                    </a>
                </div>
            </div>
            <input type="checkbox" id="nav" class="header-mobile-validation">
            <div class="header-mobile-circle"></div>
            <div class="header-mobile-block">
                <h3>Navigatie</h3>
                <a href="../index.html">Homepage</a>
                <a href="../pages/waar-te-koop.html">Waar te koop?</a>
                <a href="../pages/over-ons.html">Over ons</a>
                <a href="../pages/portfolio.html">Portfolio</a>
                <a href="../pages/contact.html">Contact</a>
            </div>
            <label class="header-mobile" for="nav"><div></div></label>
        </header>
        
        <main>
            <section class="section-heading">
                <div class="home__background home__background--image">
                    <h3 class="home__heading">Portfolio</h3>
                    <h4 class="home__sub-heading home__sub-heading--1">Onze geschiedenis, Onze toekomst, Onze familie</h4>
                </div>
                <div class="wave"></div>
            </section>
            
            <section class="section-information">
                <div class="information__row">
                    <div class="information__column">
                        <svg class="information__icon">
                            <use xlink:href="./img/sprite.svg#webzey-icon-search"></use>
                        </svg>
                        <div>
                            <h3 class="information__heading">Kwaliteit</h3>
                            <p class="information__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nostrum voluptatum hic harum fugiat et dolor soluta voluptatem ipsum, quam nulla magnam iste commodi earum doloremque neque amet dolores at.</p>
                        </div>
                    </div>
                    <div class="information__column">
                        <svg class="information__icon">
                            <use xlink:href="./img/sprite.svg#webzey-icon-search"></use>
                        </svg>
                        <div>
                            <h3 class="information__heading">Europa</h3>
                            <p class="information__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nostrum voluptatum hic harum fugiat et dolor soluta voluptatem ipsum, quam nulla magnam iste commodi earum doloremque neque amet dolores at.</p>         
                        </div>
                    </div>
                    <div class="information__column">
                        <svg class="information__icon">
                            <use xlink:href="./img/sprite.svg#webzey-icon-search"></use>
                        </svg>
                        <div>
                            <h3 class="information__heading">Klimaat</h3>
                            <p class="information__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nostrum voluptatum hic harum fugiat et dolor soluta voluptatem ipsum, quam nulla magnam iste commodi earum doloremque neque amet dolores at.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-about">
                <img src="../img/header.jpg" alt="" class="about__image">
                <div class="about__container">
                    <h5 class="about__heading about__heading--1">Over ons</h5>
                    <h2 class="about__heading about__heading--2">Snel, Flexibel en profesioneel</h2>
                    <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat dolorum harum, sint libero voluptate, sapiente iusto expedita dolorem quidem labore voluptates eveniet ducimus, minima nostrum perspiciatis iste non laboriosam?</p>
                    <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolor soluta a esse molestiae, necessitatibus accusantium numquam? Sit, nihil numquam? Optio adipisci repellat nesciunt repellendus dolorem quaerat error dolores doloremque?</p>
                </div>
            </section>
            <section class="section-partners">
                <img src="../img/heiniken.png" alt="Grolsch" class="partners__logo">
                <img src="../img/sligro.png" alt="Fruitmasters" class="partners__logo">
                <img src="../img/albert-heijn.png" alt="Appelaere" class="partners__logo">
                <img src="../img/makro.svg" alt="Appelaere" class="partners__logo">
                <img src="../img/grolsch.png" alt="Appelaere" class="partners__logo">
            </section>
            <section class="section-contact">
                <div class="contact__container">
                    <span></span>
                    <h2 class="contact__heading contact__heading--2">Wat maakt ons speciaal</h2>
                    <p class="contact__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, iure voluptas blanditiis veniam minima deleniti quia, nulla sunt quisquam qui fugit enim, totam doloremque adipisci! Labore voluptatem in optio! Cum.</p>
                    <ul class="contact__list">
                        <li class="contact__item">
                            <svg class="contact__icon">
                                <use xlink:href="../img/sprite.svg#webzey-icon-search"></use>
                            </svg><p>Transport voor<br> de beste</p>
                        </li>
                        <li class="contact__item">
                            <svg class="contact__icon">
                                <use xlink:href="../img/sprite.svg#webzey-icon-search"></use>
                            </svg><p>Transport voor<br> de beste</p>
                        </li>
                        <li class="contact__item">
                            <svg class="contact__icon">
                                <use xlink:href="../img/sprite.svg#webzey-icon-search"></use>
                            </svg><p>Transport voor<br> de beste</p>
                        </li>
                        <li class="contact__item">
                            <svg class="contact__icon">
                                <use xlink:href="../img/sprite.svg#webzey-icon-search"></use>
                            </svg><p>Transport voor<br> de beste</p>
                        </li>
                    </ul>
                </div>
                <div class="contact__form">
                    <span></span>
                    <h3 class="contact__heading contact__heading--2">Vragen contacteer ons</h3>
                    <p class="contact__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi esse distinctio iusto aperiam non possimus consequatur ab aliquam ipsa sit velit, quaerat soluta voluptas! Corporis odit soluta facilis necessitatibus magnam.</p>
                    <form action="" method="post">
                        <div class="form__group">
                            <div class="form__item">
                                <input type="text" class="form__input">
                                <label for="firstname" class="form__field">Naam</label>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="form__item">
                                <input type="number" class="form__input">
                                <label for="firstname" class="form__field">Telefoon</label>
                            </div>
                            <div class="form__item">
                                <input type="email" class="form__input">
                                <label for="firstname" class="form__field">E-mailadres</label>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="form__item">
                                <textarea rows="6" type="email" class="form__input"></textarea>
                            </div>
                        </div>
                        <button class="btn">Verstuur</button>
                    </form>
                </div>
            </section>
        </main>
        <footer class="footer" id="footer">
            <svg height=0 width=0>
                <clipPath id="wave" clipPathUnits="objectBoundingBox">
                <path class="st0" d="M1,0c0,0-0.3,0.1-0.5,0.1S0.3,0,0,0.1V1h1L1,0z"/>
                </clipPath>
                <linearGradient id="webzey-gradient" x2="1" y2="1">
                    <stop offset="0%" stop-color="#FFB213"/>
                    <stop offset="20%" stop-color="#FFB213"/>
                    <stop offset="20%" stop-color="#ffc130"/>
                    <stop offset="40%" stop-color="#ffc130"/>
                    <stop offset="40%" stop-color="#ffca4d"/>
                    <stop offset="60%" stop-color="#ffca4d"/>
                    <stop offset="60%" stop-color="#ffd36b"/>
                    <stop offset="80%" stop-color="#ffd36b"/>
                    <stop offset="80%" stop-color="#ffd570"/>
                    <stop offset="100%" stop-color="#ffd570"/>
                </linearGradient>
            </svg>
            <div class="footer__row">
                <figure>
                    <img src="../img/logo.png" alt="" class="footer__logo">
                </figure>
                <div class="footer__heading">
                    <h4 class="heading-quaternary">Vragen?</h4>
                    <p>Neem dan contact op met onze medewerkers.</p>
                </div>
                <div class="footer__social footer__social--1">
                    <svg class="footer__social-icon">
                        <use xlink:href="../img/sprite.svg#webzey-icon-mail-checked"></use>
                    </svg>
                    <div class="footer__social-content">
                        <h4 class="">Informatie</h4>
                        <p>info@heijmenson.nl</p>
                    </div>
                </div>
                <div class="footer__social footer__social--2">
                    <svg class="footer__social-icon">
                        <use xlink:href="../img/sprite.svg#webzey-icon-mail-checked"></use>
                    </svg>
                    <div class="footer__social-content">
                        <h4 class="">administratie</h4>
                        <p>administratie@heijmenson.nl</p>
                    </div>
                </div>
                <div class="footer__social footer__social--3">
                    <svg class="footer__social-icon">
                        <use xlink:href="../img/sprite.svg#webzey-icon-discord"></use>
                    </svg>
                    <div class="footer__social-content">
                        <h4 class="">Discord</h4>
                        <p>link.heijmenson.nl</p>
                    </div>
                </div>
                <div class="footer__social footer__social--4">
                    <svg class="footer__social-icon">
                        <use xlink:href="../img/sprite.svg#webzey-icon-phone"></use>
                    </svg>
                    <div class="footer__social-content">
                        <h4 class="">Telefoon</h4>
                        <p >Klik hier</p>
                    </div>
                </div>

                <div class="footer__newsletter">
                    <h4 class="heading-quaternary">Meld je aan voor de nieuwsbrief</h4>
                    <p>Ontvang het laatste nieuws.</p>
                    <input type="text" class="newsletter__input" placeholder="E-mailadres">
                    <button class="newsletter__button">Aanmelden</button>
                </div>
            </div>
            <div class="footer__row footer__row--line">
                <div class="footer__links">
                    <h4 class="heading-quaternary">Contact</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Gelderland, Nederland</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">KVK 836759837</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">BTW NL: NL.3845638E856</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">info@heijmenson.nl</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Discord</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__links">
                    <h4 class="heading-quaternary">Over Ons</h4>
                    <ul class="footer__list">
                        <li class="footer__item"><a href="/w/portfolio" class="footer__link">Portfolio</a></li>
                        <li class="footer__item"><a href="/w/products/personal" class="footer__link">Websites</a></li>
                        <li class="footer__item"><a href="/w/about" class="footer__link">Geschiedenis</a></li>
                        <li class="footer__item"><a href="/w/about" class="footer__link">Over ons</a></li>
                        <li class="footer__item"><a href="/w/sitemap" class="footer__link">Site Map</a></li>
                     </ul>
                </div>
                <div class="footer__links">
                    <h4 class="heading-quaternary">Zakelijk</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a :to="{ name: 'Dashboard' }" class="footer__link">Personeelsfeesten</a>
                        </li>
                        <li class="footer__item">
                            <a :to="{ name: 'Dashboard' }" class="footer__link">Zakelijk bestellen</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">zakelijk@heijmenson.nl</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">&rarr; Meer over zakelijk</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__links">
                    <h4 class="heading-quaternary">Sociale Media</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Instagram</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Facebook</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Twitter</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Google</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="copyright">
                Alle prijzen zijn incl. 21% BTW
                <p class="copyright__links">
                    <a href="#" class="copyright__link">Algemene voorwaarde |</a>
                    <a href="#" class="copyright__link">Privacy |</a>
                    <a href="#" class="copyright__link">Cookies</a>
                </p>
                <p class="legal">&copy; 2020 Heijmenson N.V. </p>
            </div>


        </footer>
    </body>
</html>